{% if lot != null %}
<a href="/home">Etusivu</a>
<hr>
<a href="/comment/{{ id }}">Kommentoi parkkipaikkaa</a>
<h1>Parkkipaikan kommentit</h1>
<p>Parkkipaikka: </p>
<p>Kaupunki: {{ lot[0][4] }}</p>
<p>Osoite: {{ lot[0][5] }}</p>
<p>Omistaja: {{ lot[0][0] }}</p>
<p>Kuvaus: {{ lot[0][2] }}</p>
{% if lot[0][1] == 0 %}
<p>Paikka vapaana</p>
{% else %}
<p>Paikka varattu</p>
{% endif %}
<br>
<p>Kommentit:</p>
{% if comments %}
{% for comment in comments %}
<p>Kommentoija: {{ comment[0] }}</p>
<p>Kommentti: {{ comment[1] }}</p>
<br>
{% endfor %}
{% else %}
<p>Ei kommentteja</p>
{% endif %}
{% endif %}