{% if session.user_id %}
<h1>Moi {{ session.username }}! Tervetuloa käyttämään parkkeeraussovellusta</h1>
<a href="/logout">Kirjaudu ulos</a>
<hr>
<a href="/add_parkinglot">Lisää parkkipaikka</a>
<hr>
<a href="/control">Hallitse omia parkkipaikkoja</a>
<hr>
<form action="/city_results" method="GET">
Kaupunki: <input type="text" name="city">
<input type="submit" value="Hae">
</form>
<p>Parkkipaikkoja:</p>
<ol type="1">
{% for lot in lots %}
<li>
<p>Kaupunki: {{ lot[6] }}</p>
<p>Osoite: {{ lot[7] }}</p>
<p>Omistaja: {{ lot[1] }}</p>
<p>Kuvaus: {{ lot[3] }}</p>
{% if lot[2] == 0 %}
<p>Paikka vapaana</p>
<a href="/book/{{ lot[0] }}">Varaa käyttöön</a>
{% else %}
<p>Paikka varattu</p>
{% if lot[5] == session.user_id %}
<a href="/stop_using/{{ lot[0] }}">Lopeta käyttö</a>
{% endif %}
{% endif %}
<br>
<a href="/comment/{{ lot[0] }}">Kommentoi parkkipaikka</a>
<br>
<a href="/read_comments/{{ lot[0] }}">Lue kommentteja</a>
<p>Hinta: {{ lot[4] }}</p>
</li>
<br>
{% endfor %}
</ol>

{% endif %}
